:root {
  --dark-menu: black;
  --border-radius: 1em;
  --link: hsl(120, 66%, 29%);
  --link-hover: white;
  --span-menu: ()
}
.header {
  width: 100%;
  position: absolute;
  z-index: 2000;
}

.main__logo {
  width:  50%;
  position: relative;
  z-index: 800;
  top: 2em;
}

.burger__menu {
  position: absolute;
  z-index: 1000;
  border-color: transparent;
  background-color: transparent;
  right: 0;
  top: 0;
}

.burger__menu > span {
  display: block;
  position: relative;
  z-index: 1000;
  height: 0.3em;
  width: 3em;
  margin: 0.5em;
  /* border-radius: var(--border-radius); */
  background-color: var(--link);
}

.burger__menu span:nth-child(1) {
  transition: 0.3s;
  transform-origin: top right;
}

.burger__menu span:nth-child(3) {
  transition: 0.3s;
  transform-origin: bottom right;
}

.menu__open .burger__menu > span:nth-child(2) {
  animation: menuAnim 0.5s both;
}

.menu__open .burger__menu > span:nth-child(1) {
  transform: rotate(-45deg);
}

.menu__open .burger__menu > span:nth-child(3) {
  margin-top: -2px;
  transform: rotate(45deg);
}

@keyframes menuAnim {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(10em);
    opacity: 1;
  }
}

.nav {
  display: flex;
  flex-flow: column;
  list-style: none;
  background: var(--dark-menu);
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  margin-top: 3em;
}

.nav li {
  margin: 1em;
  text-align: justify;
  font-size: 2em;
  width: 100;
  padding-right: 1em;
  text-decoration: none;
}

.navlink__burger {
  text-decoration: none;
  color: var(--link);
}

.navlink__burger:hover {
  color: var(--link-hover);
}

